name: test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        node-version: [20.x, 22.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Launch Ollama Docker image and pull models
        run: |
          mkdir -p ~/.ollama/models
          docker run -d -v ollama:/home/runner/.ollama -p 11434:11434 --name ollama ollama/ollama
          sleep 20
          docker exec ollama ollama pull qwen3:0.6b
          docker exec ollama ollama pull all-minilm:l6-v2
          sleep 20
          time curl -i http://localhost:11434
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run test
